<h1 class="display-4 font-italic">
  Бізнес-коледж Львівської філії
</h1>
<p style="text-indent: 36.0pt;">
  Бізнес-коледж як відокремлений підрозділ Європейського університету з 2002 року готує молодших спеціалістів для малого
  та середнього бізнесу. Практична спрямованість у підготовці таких фахівців та їх успішне працевлаштування на
  підприємствах різних форм власності та видів діяльності підтверджує їх зростаючий попит та практичну користь. На
  основі базової або повної загальної середньої освіти студенти отримують кваліфікацію молодшого спеціаліста з напрямів
  підприємницької діяльності, які користуються найбільшим попитом: фінансів і кредиту, правознавства, розробки
  програмного забезпечення, організації виробництва.
</p>
<p style="text-indent: 36.0pt;">
  Отже, фахівців з усіх основних напрямів, необхідних для економіки, організації та управління комерційною діяльністю,
  готує Бізнес-коледж Львівської філії Європейського університету.
</p>
<hr>
<div class="row">
  <div class="col-lg-3">
    <img class="img-fluid rounded mb-4 rounded mx-auto d-block" src="<%= image_url('Kravchuk_Natalya_Vasilivna.jpg') %>">
  </div>
  <div class="col-lg-9">
    <h4 class="display-4 font-italic">Кравчук Наталя Василівна</h4>
    <small class="h4">заступник директора Бізнес-коледжу</small>
    <hr>
    <p style="text-indent: 36.0pt;">
      Працює в університеті з 2000 року.
    </p>
    <p style="text-indent: 36.0pt;">
      Закінчила Львівський державний університет ім. І.Франка у 2004 році за спеціальністю "Фінанси".
    </p>
  </div>
</div>
<h4 class="font-italic" style="color: #6d93eb; text-align: center;">
  Підготовка молодших спеціалістів здійснюється за наступними спеціальностями:
</h4>
Галузь знань: <b><i>Економіка та підприємництво</i></b><br>
Спеціальність:
<ul>
  <li>
    Фінанси та кредит.
  </li>
</ul>
Галузь знань: <b><i>Менеджмент та адміністрування</i></b><br>
Спеціальність:
<ul>
  <li>
    Організація виробництва.
  </li>
</ul>
Галузь знань: <b><i>Право</i></b><br>
Спеціальність:
<ul>
  <li>
    Правознавство.
  </li>
</ul>
Галузь знань: <b><i>Інформатика та обчислювальна техніка</i></b><br>
Спеціальність:
<ul>
  <li>
    Розробка програмного забезпечення.
  </li>
</ul>
<h5 class="font-italic font-weight-bold">
  З 2016 року набір на 1-й курс навчання здійснюється за оновленими спеціальностями!
</h5>
<br>
<h4 class="font-italic" style="color: #6d93eb; text-align: center;">
  Термін навчання:
</h4>
<u>
  На основі Свідоцтва про базову загальну середню освіту (9 класів):
</u>
<ul>
  <li>2 роки 10 місяців (спеціальність: Фінанси і кредит).</li>
  <li>3 роки 10 місяців (спеціальності: Право; Організація виробництва; Розробка програмного забезпечення).</li>
</ul>
<p>
  Начальний процес включає загальноосвітню підготовку на 1-2 курсах та професійну за обраною спеціальністю (2-4 курси)
</p>
<u>
  На основі Атестату про повну загальну середню освіту (11 класів) або Диплому кваліфікованого робітника:
</u>
<ul>
  <li>1 рік 10 місяців (спеціальність: Фінанси та кредит).</li>
  <li>2 роки 10 місяців (спеціальності: Правознавство; Організація виробництва; Розробка програмного забезпечення).</li>
</ul>
<p class="font-italic">
  Навчальний процес включає тільки професійну підготовку за обраною спеціальністю.
</p>
<p style="text-indent: 36.0pt;">
  Важливою особливістю є те, що інтегровані навчальні плани дають змогу випускникам Бізнес-коледжу
  <b>продовжувати навчання на третьому курсі Львівської філії Європейського університету (освітній рівень
    «Бакалавр»)</b> за обраною спеціальністю та в подальшому отримувати ступені магістрів та спеціалістів.
</p>
<p style="text-indent: 36.0pt;">
  У підготовці молодших спеціалістів в Бізнес-коледжі задіяні висококваліфіковані викладачі - педагоги вищої категорії,
  кандидати та доктори наук, спеціалісти-практики. Теоретичне навчання поєднується з практичним циклом бізнес-тренінгів,
  майстер-класів, організацією навчальних, технологічних , комп’ютерних та виробничих практик. Навчальний процес
  базується як на традиційних формах освітньої діяльності, так і на впровадженні інноваційних методик викладання
  дисциплін (лекції в режимі он-лайн, комп’ютерне тестування, інтернет-семінари та тренінги, рольові ігри, дебати,
  «мозкові штурми», проектна діяльність з використанням інформаційних систем і технологій тощо). Особлива увага
  приділяється вивченню іноземних мов за професійним спрямуванням. Поглибити рівень своїх знань та набути додаткових
  практичних навиків студенти Бізнес-коледжу можуть на постійно діючих науково-практичних студентських семінарах.
</p>
<p style="text-indent: 36.0pt;">
  Студенти Бізнес-коледжу – активні учасники творчих студій, наукових гуртків, спортивних змагань та культурно-масових
  заходів. До послуг студентства – сучасні бібліотека, комп’ютерні класи, кафе, медичний центр, диско-зала, спортивний
  та тренажерний комплекси, бази відпочинку в Закарпатті та Київській області.
</p>
<p style="text-indent: 36.0pt;">
  Іногороднім студентам надається гуртожиток.
</p>
<p style="text-indent: 36.0pt;">
  <b>Форма навчання у Бізнес-коледжі – денна.</b>
</p>
<h4 class="font-italic" style="color: #6d93eb; text-align: center;">
  Конкурсний відбір та зарахування абітурієнтів до Бізнес-коледжу відбувається за результатами:
</h4>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Вступних випробувань з двох предметів (при вступі на 1-й курс на основі Свідоцтва про базову загальну середню
      освіту)
    </th>
    <th>Сертифікатів ЗНО з двох предметів (при вступі на 2-й курс на основі Атестату про повну загальну середню
      освіту)
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <ol>
        <li>Українська мова (диктант) – для всіх спеціальностей;</li>
        <li>Математика (тестування) – для всіх спеціальностей, крім «Право»;</li>
        <li>Історія України – для спеціальності «Право»</li>
      </ol>
    </td>
    <td>
      <ol>
        <li>Українська мова та література (для всіх спеціальностей);</li>
        <li>Математика (для всіх спеціальностей, крім «Правознавство»);</li>
        <li>Історія України (для спеціальностей «Правознавство»)</li>
      </ol>
    </td>
  </tr>
  </tbody>
</table>


<p style="text-indent: 36.0pt;">
  Зарахування до Бізнес-коледжу відбувається також на основі дипломів <b>кваліфікованих робітників</b> для здобуття
  освітньо-кваліфікаційного рівня «Молодший спеціаліст» <i>(зі скороченим або нормативним терміном навчання)</i>.
</p>
<p style="text-indent: 36.0pt;">
  Після закінчення навчання <b>видається Атестат про повну загальну середню освіту</b>
  <i>(для осіб, які були зараховані на 1-й курс на основі базової загальної середньої освіти)</i> та
  <b>Диплом молодшого спеціаліста</b> <i>(з державними серією та номером)</i>.
</p>
<p style="text-indent: 36.0pt;">
  Навчально-виховна робота Бізнес-коледжу побудована на забезпеченні національно-патріотичного виховання, культурного і
  духовного розвитку молоді, високих етичних норм, формування соціально зрілої та творчої особистості.
</p>