<h1 class="display-4 font-italic">
  Кафедра математики та комп'ютерних дисциплін
</h1>
<img src="<%= image_url('Kochyn.jpg') %>" width="350" height="471" class="img_left">
<p style="text-indent: 36.0pt;">
  Кафедра математики та комп’ютерних дисциплін Львівської філії Європейського університету була заснована у вересні 2003
  року (наказ № 1/09 від 01.09.2003 року) та налічує 11 осіб професорсько-викладацького персоналу.
</p>
<p style="text-indent: 36.0pt;">
  Першим завідувачем кафедри був к.ф.-м.н., доцент Вітер Михайло Богданович.
</p>
<p style="text-indent: 36.0pt;">
  З вересня 2008 року по листопад 2013 року кафедру очолював кандидат технічних наук, доцент Томашевський Олег
  Михайлович, автор 58 публікацій, з них 52 наукового та 6 навчально-методичного характеру.
</p>
<p style="text-indent: 36.0pt;">
  З листопада 2013 року завідувачем кафедри призначено кандидата технічних наук Коцуна Володимира Івановича.
</p>
<p style="text-indent: 36.0pt;">
  Коцун В.І. закінчив з відзнакою у 2007 році Національний університет “Львівська політехніка”, інститут телекомунікації
  радіоелектроніки та електронної техніки та одержав кваліфікацію магістра з електроніки, психолого-педагогічне
  відділення ДЦ МОНУ та одержав кваліфікацію викладача математики та інформатики. Після закінчення аспірантури
  Національного університету “Львівська політехніка” у 2011 році захистив кандидатську дисертацію на тему: “Розроблення
  матеріалів системи “холестеричний рідкий кристал-наночастинки” (Aln, Ag-120, Fe2O3, C60) для електрооптичних елементів
  електронної техніки” та рішенням Атестаційної колегії від 10 листопада 2011 року присуджено наукову ступінь кандидата
  технічних наук.
</p>
<p style="text-indent: 36.0pt;">
  З 2006 року працює вчителем інформатики в НВК “Глиницька ЗШ І-ІІІ ступенів - ДНЗ”.
</p>
<p style="text-indent: 36.0pt;">
  З вересня 2011 року до листопада 2013 року – доцент кафедри математики та компютерних дисциплін Львівської філії
  Європейського університету.
</p>
<p style="text-indent: 36.0pt;">
  Автор більш як 49 наукових публікацій, в тому числі 15 наукових статтей та 6 патентів на корисну модель.
</p>
<p style="text-indent: 36.0pt;">
  Професорсько-викладацький склад кафедри налічує 11 осіб, з них: 8 доцентів та 3 старші викладачі. Під час навчального
  процесу викладачі знаходять індивідуальний підхід до кожного студента. На практичних заняттях значна увага
  приділяється розв’язку актуальних задач.
</p>
<p style="text-indent: 36.0pt;">
  Якість знань забезпечують: аналітик провідної ІТ-компанії України Томашевський О.М., а також 8 доцентів з великим
  педагогічним стажем.
</p>
<p style="text-indent: 36.0pt;">
  Кафедра забезпечує викладання 60-ти дисциплін, у тому числі: вищої математики, основ дискретної математики,
  комп’ютерних мереж, інформаційних систем і технологій, сучасних інтернет-технологій для усіх напрямів підготовки
  студентів, а також спеціальних і фахових дисциплін навчального плану спеціальності 122 “Комп’ютерні науки” за освітнім
  рівнем бакалавр.
</p>
<p class="font-italic font-weight-bold" style="text-indent: 36.0pt;">Науково-дослідна робота на кафедрі проводиться з
  таких напрямів:</p>
<ul>
  <li>
    Модифікація програмного продукту GBMOLDD для моделювання впливу поверхневих умов на деформацію поля директора
    нематичного рідкого кристалу (колективна тема, керівник – завідувач кафедри Коцун В.І.).
  </li>
  <li>
    Математичні моделі та системи моніторингу GRID-систем і обчислювальних кластерів (індивідуальна тема, керівник -
    доцент Томашевський О.М.).
  </li>
  <li>
    Створення пристроїв мікроелектроніки на основі органічних напівпровідникових матеріалів (індивідуальна тема, доц.
    Гладун М.Р.).
  </li>
  <li>
    Моделювання інформаційних процесів та технологій у комплексних інформаційних управляючих системах (індивідуальна
    тема, доцент Дубук В.І.).
  </li>
</ul>
<p style="text-indent: 36.0pt;">
  В рамках зазначених тем працює науково-методичний семінар, на якому викладачі кафедри обмінюються отриманими
  науково-практичними результатами.
</p>
<p style="text-indent: 36.0pt;">
  За 2007-2017 навчальні роки викладачами кафедри було видано 7 навчальних навчальний посібник з грифом МОН України,
  опубліковано 50 статей у фахових виданнях. А також наші фахівці прийняли участь у 18 міжнародних і 20 всеукраїнських
  наукових конференціях, де виступили з доповідями і опублікували тези проведених досліджень і результатів.
</p>

<h4 class="font-italic" style="color: #6d93eb; text-align: center;">
  Підготовка фахівців здійснюється за освітніми рівнями:
</h4>
<p class="text-center" style="color: #068a00;">
  <b>Молодший спеціаліст</b><br>
  <b>Шифр та назва за переліком спеціальностей 2015 року</b>: 121 “Інженерія програмного забезпечення”.<br>
  (<b>Шифр та назва за переліком спеціальностей 2007 року</b>: 5.05010301 “Розробка програмного забезпечення”).
</p>
<p style="text-indent: 36.0pt;">
  Попит на фахівців в області розробки програмного забезпечення щодня росте. Банки, Інтернет-провайдери, підприємства
  малого, середнього й великого бізнесу, фірми, що займаються розробкою й тестуванням програмного забезпечення, державні
  підприємства, науково-дослідні інститути й лабораторії зацікавлені в прийомі на роботу наших випускників. Ви зможете
  працевлаштуватися програмістом, тестувальником програмного забезпечення, інженером з контролю якості, лідером команди
  розробників, управляючим програмним проектом, технічним письменником, системним архітектором, web-програмістом,
  аналітиком програмних проектів, розробником і адміністратором баз даних.
</p>
<p class="font-italic font-weight-bold" style="text-indent: 36.0pt;">
  Після закінчення даного курсу Ви зможете:
</p>
<ul>
  <li>
    створювати Windows - додатки з використанням клієнт-серверних технологій, графіки, баз даних і мультимедіа;
  </li>
  <li>
    правильно та в короткий термін прораховувати алгоритми розв’язання поставлених завдань і вартість їх впровадження;
  </li>
  <li>
    проектувати бази даних різного ступеня складності та об’єму, керувати ними;
  </li>
  <li>
    розробляти Інтернет - додатки, які реагують на дії користувачів і надають інформацію, розміщену в базах даних;
  </li>
  <li>
    автоматизувати роботу з базами даних (як з однією, так і з кількома базами одночасно), залежно від поставленого
    завдання або вимог замовника;
  </li>
  <li>
    брати участь у розробці комп'ютерних ігор;
  </li>
  <li>
    модифікувати Windows - додатки під конкретні замовлення.;
  </li>
  <li>
    розробляти мережеві додатки;
  </li>
  <li>
    створювати утиліти, що вирішують повсякденні проблеми користувача;
  </li>
  <li>
    створювати додатки й динамічні web-вузли на основі платформи .NET;
  </li>
  <li>
    забезпечувати безпеку додатків, використовуючи алгоритми шифрування, аутентифікації і безпеки з'єднання;
  </li>
  <li>
    тестувати програмне забезпечення, використовуючи сучасні методики й технології;
  </li>
  <li>
    проектувати програмні проекти, незалежно від кінцевої мови реалізації;
  </li>
  <li>
    управляти всіма аспектами й тонкощами програмних проектів;
  </li>
  <li>
    документувати створювані додатки;
  </li>
  <li>
    застосовувати прийоми екстремального програмування для успішної роботи команди;
  </li>
  <li>
    використовувати патерни проектування в повсякденній робочій діяльності;
  </li>
  <li>
    програмувати крос-платформні рішення;
  </li>
</ul>
<p class="text-center" style="color: #068a00;">
  <b>Бакалавр</b><br>
  <b>Шифр та назва за переліком спеціальностей 2015 року</b>: 122 “Комп’ютерні науки”.<br>
  (<b>Шифр та назва за переліком спеціальностей 2007 року</b>: 6.050101 “Комп’ютерні науки”).
</p>

<p style="text-indent: 36.0pt;">
  Перші чотири роки навчання за спеціальністю 122 “Комп’ютерні наукиї” дають змогу отримати базову вищу освіту та
  кваліфікацію бакалавра з відповідним профілем знань. Базова вища освіта забезпечує грунтовні знання за напрямом
  підготовки, в тому числі в галузі інформаційно-комп’ютерних технологій. Кваліфікація бакалавра дозволяє випускникам
  напрямку працювати на первинних посадах інженерів та техніків.
</p>
<p style="text-indent: 36.0pt;">
  Обравши спеціальність “Комп’ютерні науки”, студенти отримують достатні знання для експлуатації комп’ютеризованих
  систем, в тому числі комп’ютерних систем обробки інформації та управління інформаційно- аналітичних систем,
  інформаційних систем проектування, систем штучного інтелекту та програмного забезпечення автоматизованих систем та
  ЕОМ, інтелектуальних систем обробки інформації і прийняття рішень.
</p>
<p style="text-indent: 36.0pt;">
  Вони здатні забезпечити складання техніко-економічних обгрунтувань та технічних завдань, а також бути компетентними у
  таких областях знань, як принципи побудови та архітектури сучасних автоматизованих систем; методи побудови і аналізу
  типових моделей баз даних та знань, складних об’єктів і систем; методи розроблення системного і прикладного
  забезпечення для автоматизованих систем різноманітного призначення; мови програмування високого рівня (JAVA, DELРНI,
  C++); типові комп’ютерні системи (Microsoft Office, Paradox, Adobe Page Maker, PhotoShop, Corel Draw), методи аналізу
  і побудови типових моделей обробки інформації в області бізнесу, менеджменту та підприємництва; методи проектування
  програмних засобів для фінансово- банківської системи; програмні засоби для задач менеджменту та маркетингу, створення
  мультимедійних систем.
</p>