<div class="row">
  <div class="col-lg-3">
    <img class="img-fluid rounded mb-4 rounded mx-auto d-block" src="<%= image_url('pisniy.jpg') %>" width="200" height="276" alt="">
  </div>
  <div class="col-lg-9">
    <h4 class="display-4 font-italic">Пісний Богдан Михайлович</h4>
    <p style="text-indent: 36.0pt;">
      Львівську філію Європейського університету з 08.11.2013 р. очолив кандидат економічних наук
      <b>Пісний Богдан Михайлович</b>, який працював заступником директора з навчальної та наукової роботи.
    </p>
    <p style="text-indent: 36.0pt;">
      В університеті - з 2000р. Закінчив Львівський державний національний університет ім. І. Франка, Київську академію
      Міністерства внутрішніх справ України. Працював вчителем географії, з 1982 року служив в ОВС на різних посадах, у
      т.ч. начальником Жидачівського РВВСУ у Львівській області, Залізничного РВ УМВСУ м. Львова, обирався депутатом
      Львівської обласної ради 2-го скликання.
    </p>
    <p style="text-indent: 36.0pt;">
      Поет-пісняр. Автор дев'яти віршованих збірок. Більше 70 віршів покладені на музику. Пісні виконують народні
      артисти України Іван Попович, Марян Шуневич, заслужений артист України Олег Лихач, лауреати міжнародних конкурсів
      Ольга Щербакова, Євген Дашин, Оля Марченко, Валерій Степовий, Михайло Бушко, Віктор Гембара та ін.. Одружений, має
      двох доньок і трьох внуків.
    </p>
  </div>
</div>