<h1 class="display-4 font-italic">
  Кафедра економіки та підприємництва
</h1>
<img src="<%= image_url('stepyra.jpg') %>" width="350" height="530" class="img_left">
<p style="text-indent: 36.0pt;">
  Кафедра економіки та підприємництва (до 2013 року кафедра економіки та менеджменту) створена у 2003 році. У витоків
  утворення та розвитку кафедри стояли знані науковці та управлінці – к.е.н., доц. Середа А.Р., який тривалий час
  очолював кафедру, к.е.н., проф. Яцків М.І., д.е.н., проф. Галанець В.Г.
</p>
<p style="text-indent: 36.0pt;">
  З 2006 року кафедру очолює Степура Тетяна Михайлівна, кандидат економічних наук, доцент. У 1995 році закінчила
  економічний факультет Львівського державного університету ім. І.Франка за фахом соціолог, викладач соціології.
  Дисертацію на тему «Державне регулювання ринку праці (методологія, практика, шляхи удосконалення)» на здобуття ступеня
  кандидата економічних наук захистила у 2005 році. У 2011 році у Європейському університеті здобула другу вищу освіту
  за фахом «Фінанси». Має практичний досвід роботи в структурі державного управління. На викладацькій роботі у
  навчальних закладах ІІІ-IV рівнів акредитації з 2005 року.
</p>
<p style="text-indent: 36.0pt;">
  Є автором більш ніж 100 публікацій, з них 7 монографій, у тому числі зарубіжних.
</p>
<p style="text-indent: 36.0pt;">
  Професорсько-викладацький склад кафедри налічує 12 викладачів, з них 1 професор, 8 доцентів, кандидатів економічних
  наук, 3 викладачів.
</p>
<p style="text-indent: 36.0pt;">
  На кафедрі ведеться активна наукова робота – колектив викладачів працює над розробкою перспективної теми
  «Функціонування соціально-економічних і фінансових систем та синергія в них». За останні 6 років викладачами кафедри
  видано 15 монографій (у тому числі 2 колективних у рамках виконання кафедральних науково-дослідних тем – «Управління
  розвитком економічної та соціальної інфраструктури Західного реґіону в контексті євроінтеграції», «Людський потенціал
  України: чинники формування та розвиток»), активно захищаються кандидатські дисертації. Координується робота
  студентського наукового товариства «Сучасні проблеми фінансового менеджменту підприємництва»; щорічно відбуваються
  міжвузівські та міжнародні науково-практичні конференції, круглі столи, диспути та семінари. За результатами
  конференцій щорічно видаються збірники праць (посилання). Працює Клуб економічного розвитку молоді.
</p>
<p style="text-indent: 36.0pt;">
  На кафедрі економіки та підприємництва <b>готують фахівців за такими освітніми рівнями</b>:
</p>
<ul>
  <li>
    <b>Бакалавр</b> – «<b>Економіка</b>», «<b>Фінанси</b>, <b>банківська справа та страхування</b>», «<b>Облік і
    оподаткування</b>»
  </li>
  <li>
    <b>Магістр</b> – «<b>Економіка</b>», «<b>Фінанси</b>, <b>банківська справа та страхування</b>», «<b>Облік і
    оподаткування</b>»
  </li>
</ul>
<p style="text-indent: 36.0pt;">
  Також на кафедрі ведеться підготовка за освітньо-кваліфікаційним рівнем «<b>молодший спеціаліст</b>»
  <b>за спеціальністю</b> «<b>Фінанси</b>, <b>банківська справа та страхування</b>».
</p>
<p style="text-indent: 36.0pt;">
  Окрім фахових дисциплін, кафедра також викладає низку дисциплін фундаментальної підготовки фахівців інших напрямів
  філії (економічна теорія, мікро- і макроекономіка, економіка підприємства, маркетинг, статистика, фінанси,
  бухгалтерський облік, економічний аналіз, фінанси підприємств, економіка праці та соціально-трудові відносини та
  інші).
</p>
<p style="text-indent: 36.0pt;">
  <b>Наші випускники</b> можуть працювати:
</p>
<ul>
  <li>
    в органах державного управління та місцевого самоврядування;
  </li>
  <li>
    на виробничих та господарських підприємствах різних форм власності;
  </li>
  <li>
    в державних або приватних комерційних, фінансових та біржових установах;
  </li>
  <li>
    у банківській системі та страхових компаніях;
  </li>
  <li>
    фінансових службах корпорацій різного спрямування;
  </li>
  <li>
    у навчальних закладах І-ІІІ рівнів акредитації.
  </li>
</ul>

<p style="text-indent: 36.0pt;">
  Отримані в університеті знання дозволяють їм виконувати <b>такі завдання</b>:
</p>
<ul>
  <li>
    здійснювати економічну діагностику підприємства;
  </li>
  <li>
    застосовувати методи економічного аналізу, проводити аналітичне узагальнення економічної інформації для прийняття
    управлінських рішень;
  </li>
  <li>
    планувати інвестиційну, проектну, стратегічну, фінансову діяльність підприємства;
  </li>
  <li>
    аналізувати та організовувати забезпеченість підприємства ресурсами;
  </li>
  <li>
    забезпечувати прийняття управлінських рішень під час здійснення економічної діяльності;
  </li>
  <li>
    розробляти стратегію розвитку підприємства на різні терміни його функціонування;
  </li>
  <li>
    формувати обґрунтовані параметри для забезпечення інвестиційної привабливості підприємств різних форм власності.
  </li>
</ul>
<p style="text-indent: 36.0pt;">
  Випускники кафедри – <b>магістри</b>, крім вищевикладених, можуть виконувати й такі завдання:
</p>
<ul>
  <li>
    забезпечувати впровадження нових технологій та обґрунтовувати їх економічну ефективність;
  </li>
  <li>
    планувати та розробляти заходи забезпечення конкурентоспроможності підприємств, прогнозувати ризики;
  </li>
  <li>
    проводити наукову та навчальну роботи.
  </li>
</ul>