<h4 class="display-4 font-italic">
  Інформація про університет та філію
</h4>
<p style="text-indent: 36.0pt;">
  Університет створений у 1991 році і здійснює свою діяльність згідно зі Статутом, затвердженим Міністерством освіти і
  науки України та зареєстрованим Святошинською районною державною адміністрацією міста Києва 16 серпня 2004 року.
</p>
<p style="text-indent: 36.0pt;">
  Ректор університету – Тимошенко Іван Іванович, кандидат історичних наук, професор, заслужений працівник освіти
  України, почесний професор Міжнародного університету (м. Відень, Австрія) та Вісконсінського міжнародного університету
  (США), голова Асоціації вищих навчальних закладів України приватної форми власності, член Ради ректорів Київського
  регіону.
</p>
<p style="text-indent: 36.0pt;">
  Університет має статус юридичної особи, свідоцтво про державну реєстрацію (серія АОО №067265 від 26.07.99 р.,
  ідентифікаційний код 24366800) зареєстровано Святошинською районною державною адміністрацією міста Києва 26 липня 1999
  року.
</p>
<p style="text-indent: 36.0pt;">
  Університет включений до Єдиного державного реєстру підприємств та організацій України (довідка № 1011808 від
  03.12.2013 р. видана Головним міжрегіональним управлінням статистики у місті Києві).
</p>
<p style="text-indent: 36.0pt;">
  Університет включено до Державного реєстру вищих навчальних закладів України (Довідка №11-І-129 від 16.02.2012 р.) та
  внесено до Державного реєстру наукових установ, яким надається підтримка держави (свідоцтво серії ВД № 02173 від
  23.09.2016 р.)
</p>
<p style="text-indent: 36.0pt;">
  Освітня діяльність здійснюється на підставі ліцензії Міністерства освіти і науки України (серія АЕ № 636134 від
  15.04.2015 р.), сертифікату про акредитацію за статусом вищого закладу освіти ІV рівня (серія PI-IV № 1100373 від
  19.11.2011 р.).
</p>
<p style="text-indent: 36.0pt;">
  Підготовка фахівців проводиться за денною та заочною формами навчання з дев’яти галузей знань. Всі напрями підготовки
  та спеціальності акредитовані за відповідними рівнями.
</p>
<p class="font-weight-bold" style="text-indent: 36.0pt;">
  У структурі університету: <br>
</p>
<ul>
  <li>Навчально-науковий інститут права та безпеки підприємства;</li>
  <li>Український науково-дослідний інститут системних досліджень, стабілізації та розвитку;</li>
  <li>Інститут шоу-бізнесу, Інститут регіонального розвитку;</li>
  <li>Міжнародний освітньо – підготовчий центр, 4 факультети;</li>
  <li>20 філій, 21 кафедра, з них 12 у головному ВНЗ;</li>
  <li>заочне відділення та відділення післядипломної освіти;</li>
  <li>відділ аспірантури;</li>
  <li>навчально-тренувальний комплекс (науково-виробнича фірма, тренувальний банк, лабораторія "Ноосфера");</li>
  <li>Центр впровадження інформаційних технологій;</li>
  <li>центр «Абітурієнт»;</li>
  <li>гімназія «Євроленд» з поглибленим вивченням інформатики;</li>
  <li>спеціалізована школа-садок «Євроленд»;</li>
  <li>центр працевлаштування «Євроконсалт»;</li>
  <li>бібліотека, видавничо-поліграфічний центр, автошкола, центр культури та мистецтв.</li>
</ul>
<p style="text-indent: 36.0pt;">
  В університеті діє спеціалізована вчена рада Д 26.036.01 із захисту докторських та кандидатських дисертацій за
  спеціальністю 08.00.08 – «Гроші, фінанси та кредит» та за спеціальністю 08.00.04 – «Економіка, та управління
  підприємствами» (за видами економічної діяльності: підприємства машинобудування, аграрно – підприємницькі комплекси та
  туристичні підприємства та підприємства рекреаційного комплексу).
</p>
<p style="text-indent: 36.0pt;">
  Вченій раді університету надано право присвоєння вчених звань доцента та професора.
</p>
<p style="text-indent: 36.0pt;">
  В університеті продуктивно працюють Студентський парламент та Студентська наукова рада.
</p>
<p style="text-indent: 36.0pt;">
  Європейський університет – член Міжнародної асоціації університетів, неодноразовий переможець Міжнародного відкритого
  рейтингу популярності та якості "Золота Фортуна", лауреат конкурсів "100 найкращих підприємств України" і "Кращий
  навчальний заклад нового покоління", нагороджений золотою медаллю "Незалежність України", переможець X Українського
  Національного конкурсу з якості, нагороджений сертифікатом "Визнання досконалості в Європі" та ін. За високий рівень
  підготовки фахівців відповідно до європейських стандартів університет відзначений нагородою "Європейська якість" (м.
  Барселона, 2008 р.). Європейський університет занесений у каталог ЮНЕСКО "Міжнародний довідник університетів".
</p>
<p style="text-indent: 36.0pt;">
<h5 class="text-center font-weight-bold">
  Загальна характеристика Львівської філії Європейського університету
  <br>
  <small>
    Львівська філія Європейського університету створена у липні 2000 року.
  </small>
</h5>
<p style="text-indent: 36.0pt;">
  Директор філії – <b>Пісний Богдан Михайлович</b>, закінчив Львівський державний національний університет ім. І.
  Франка, Київську академію Міністерства внутрішніх справ України, кандидат економічних наук, доцент, поет-пісняр.
</p>
<p style="text-indent: 36.0pt;">
  Львівська філія, без права юридичної особи, здійснює діяльність на підставі Положення про Львівську філію ПВНЗ
  «Європейський університет», затвердженого загальними зборами Учасників ПВНЗ «Європейський університет» протокол №40
  від 18.09.2004.
</p>
<p style="text-indent: 36.0pt;">
  Всього у філії навчається 588 студентів: за денною формою – 299, за заочною – 289.
</p>
<p style="text-indent: 36.0pt;">
  За роки існування Львівську філію закінчили: за освітньо-кваліфікаційним рівнем «молодший спеціаліст» – 287 осіб,
  «бакалавр» – 2790 осіб, «спеціаліст» – 2360.
</p>
<p style="text-indent: 36.0pt;">
  Освітня діяльність філії здійснюється у відповідності до Ліцензії МОН України з додатком, серія АЕ № 636134 від
  15.04.2015 року.
</p>
<p style="text-indent: 36.0pt;">
  У структурі філії функціонують три кафедри (кафедра менеджменту та соціально-гуманітарних дисциплін, кафедра економіки
  та підприємництва, кафедра математики та комп’ютерних дисциплін). Високий рівень навчальної, методичної та
  науково-дослідної роботи забезпечується професорсько-викладацьким складом високої кваліфікації. У філії працює 40
  викладачів: 29 – штатні, з них - 18 викладачів мають наукові ступені і вчені звання. 11 викладачів працюють за
  сумісництвом, з них – 9 викладачів мають наукові ступені і вчені звання. 6 викладачів мають кваліфікацію вчителя вищої
  категорії, з яких 6 – штатні. Велику увагу у філії приділяється науковій роботі. Щороку видаються збірники наукових
  праць викладачів та студентів.
</p>