<h1 class="display-4 font-italic">
  Кафедра менеджменту та соціально-гуманітарних дисциплін
</h1>
<p style="text-indent: 36.0pt;">
  Кафедра соціально-гуманітарних дисциплін створена в 2003 році.
</p>
<p style="text-indent: 36.0pt;">
  З 2005 року кафедру очолює кандидат філологічних наук Шевчук Наталія В’ячеславівна.
</p>
<p style="text-indent: 36.0pt;">
  Шевчук Н.В. закінчила з відзнакою філологічний факультет ЛДУ ім. І.Франка. за спеціальністю «Українська мова та
  література» (1997). Після закінчення аспірантури у 2001 році захистила кандидатську дисертацію на тему «Різдвяні
  оповіді» Ч.Діккенса у хронотопно-типологічних зв’язках» зі спеціальності «Література зарубіжних країн».
</p>
<p style="text-indent: 36.0pt;">
  Кафедра соціально-гуманітарних дисциплін здійснює підготовку студентів філії незалежно від спеціальностей і форм
  навчання, забезпечує виконання навчальних планів і програм із 35 дисциплін на усіх напрямах підготовки фахівців.
</p>
<p class="font-italic font-weight-bold" style="text-indent: 36.0pt;">
  Головною особливістю кафедри соціально-гуманітарних дисциплін є її багатопрофільність:
</p>
<ul>
  <li>
    мовні дисципліни (ділова українська, англійська, німецька, французька);
  </li>
  <li>
    дисципліни, що формують філософсько-наукові основи світогляду (філософія, культурологія, релігієзнавство, етика та
    естетика);
  </li>
  <li>
    цикл психологічної підготовки (основи психології і педагогіки, психологія управління, конфліктологія, філософія і
    психологія підприємництва);
  </li>
  <li>
    вивчення етносуспільних процесів, соціоісторичної динаміки, довкілля (історія України, соціологія, політологія,
    основи етнодержавознавства, основи екології);
  </li>
  <li>
    базові основи юридичних знань (правознавство, правове забезпечення підприємництва, господарське законодавство,
    фінансове право, банківське право, трудове право, міжнародне економічне право тощо);
  </li>
  <li>
    фізичне виховання та безпека життєдіяльності.
  </li>
  <li>
    Основним завданням кафедра вбачає надання студентам необхідного для сучасного спеціаліста обсягу гуманітарних знань
    відповідно до зростаючих запитів і потреб часу та суспільства, у формуванні гнучкості й системності мислення та
    комунікативних навичок студента при активному освоєнні національно-культурних традицій, новітніх процесів і
    тенденцій світового масштабу.
  </li>
</ul>
<p style="text-indent: 36.0pt;">
  Колектив кафедри створює умови для повноцінної реалізації внутрішнього потенціалу студента і його особистісного
  становлення з адекватною громадсько-патріотичною життєвою позицією; спонукає бути готовим до вільного
  гуманістично-орієнтованого вибору, самостійності, компетентності і відповідальності в громадсько-суспільній,
  професійній, культурній сферах життя.
</p>
<p style="text-indent: 36.0pt;">
  Сьогодні кафедра – це досвідчений колектив, у складі якого 6 доцентів, 9 старших викладачів.
</p>
<p style="text-indent: 36.0pt;">
  За останні п’ять років співробітниками кафедри опубліковано 25 посібників, 76 статей.
</p>