<h1 class="display-4 font-italic">
  Графік роботи приймальної комісії
</h1>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Дні роботи</th>
      <th scope="col">Години роботи</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Понеділок - П′ятниця
      </td>
      <td>
        09<sup>00</sup>-18<sup>00</sup>
      </td>
    </tr>
    <tr>
      <td>
        Субота, неділя
      </td>
      <td>
        10<sup>00</sup>-15<sup>00</sup>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<h5 class="font-italic text-center">
  Терміни прийому заяв та документів на основі базової загальної середньої освіти
</h5>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Етапи вступної кампанії</th>
      <th scope="col">Денна форма навчання</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Початок прийому заяв та документів
      </td>
      <td>
        02 липня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Закінчення прийому заяв та документів від осіб, які мають проходити вступні іспити
      </td>
      <td>
        о 18.00 годині 14 липня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Строки проведення вступних іспити та співбесіди
      </td>
      <td>
        15 липня до 22 липня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Термін оприлюднення рейтингового списку вступників
      </td>
      <td>
        не пізніше 12.00 години 24 липня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Терміни зарахування вступників
      </td>
      <td>
        не пізніше 12.00 години 02 серпня<br>додаткове 30 серпня 2018р.
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p class="text-center font-italic">
  Прийом вступників на навчання проводиться на конкурсні пропозиції до Бізнес-коледжу університету на базі базової
  загальної середньої освіти за денною формою навчання:
</p>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="align-middle">№</th>
      <th class="text-center">Шифр та найменування галузі знань</th>
      <th class="align-middle">Код та найменування спеціальності</th>
      <th class="text-center">Перелік вступних іспитів</th>
      <th class="text-center">Прохідний бал</th>
      <th class="text-center">Терміни навчання</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="3">1</td>
      <td rowspan="3">07 Управління та адміністрування</td>
      <td>071 Облік і оподаткування</td>
      <td>1. Українська мова<br>2. Математика</td>
      <td class="text-center">5<br>5</td>
      <td class="text-center">3 роки</td>
    </tr>
    <tr>
      <td>072 Фінанси, банківська справа та страхування</td>
      <td>1. Українська мова<br>2. Математика</td>
      <td class="text-center">5<br>5</td>
      <td class="text-center">3 роки</td>
    </tr>
    <tr>
      <td>073 Менеджмент</td>
      <td>1. Українська мова<br>2. Математика</td>
      <td class="text-center">5<br>5</td>
      <td class="text-center">4 роки</td>
    </tr>
    <tr>
      <td>2</td>
      <td>08 Право</td>
      <td>081 Право</td>
      <td>1. Українська мова<br>2. Математика</td>
      <td class="text-center">5<br>5</td>
      <td class="text-center">3 роки</td>
    </tr>
    <tr>
      <td>3</td>
      <td>12 Інформаційні технології</td>
      <td>121 Інженерія програмного забезпечення</td>
      <td>1. Українська мова<br>2. Математика</td>
      <td class="text-center">5<br>5</td>
      <td class="text-center">3 роки</td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<h5 class="font-italic text-center">
  Терміни прийому заяв та документів на основі повної загальної середньої освіти
</h5>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Етапи вступної кампанії</th>
      <th scope="col">Денна форма навчання</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Початок прийому заяв та документів
      </td>
      <td>
        12 липня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Закінчення прийому заяв та документів від осіб, які мають проходити вступні іспити, співбесіди
      </td>
      <td>
        о 18.00 годині 01 серпня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Строки проведення вступних іспити
      </td>
      <td>
        02 липня по 07 серпня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Строки проведення співбесіди
      </td>
      <td>
        02 липня по 04 серпня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Закінчення прийому заяв та документів від осіб, які не складають вступних іспитів
      </td>
      <td>
        о 18 годині 08 серпня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Термін оприлюднення рейтингового списку вступників
      </td>
      <td>
        не пізніше 12.00 години 09 серпня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Терміни зарахування вступників
      </td>
      <td>
        не пізніше 12.00 години 17 серпня<br>додаткове не пізніше 30 вересня 2018 р.
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p class="text-center font-italic">
  Для вступників до Бізнес-коледжів університету на основі повної загальної середньої реєстрація електронних кабінетів
  вступників, завантаження додатків до документів про повну загальну середню освіту розпочинається 02 липня та
  закінчується о 18.00 год. 25 липня; сертифікати зовнішнього незалежного оцінювання. 2016, 2017 та 2018 років, крім
  оцінок з англійської, німецької та іспанської мов, які приймаються лише за 2018 рік.
</p>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="align-middle">№</th>
      <th class="text-center">Шифр та найменування галузі знань</th>
      <th class="align-middle">Код та найменування спеціальності</th>
      <th class="text-center">Перелік вступних іспитів</th>
      <th class="text-center">Прохідний бал</th>
      <th class="text-center">Терміни навчання</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="3">1</td>
      <td rowspan="3">07 Управління та адміністрування</td>
      <td>071 Облік і оподаткування</td>
      <td>1. Українська мова та література<br>2. Математика або географія або іноземна мова</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">2 роки</td>
    </tr>
    <tr>
      <td>072 Фінанси, банківська справа та страхування</td>
      <td>1. Українська мова та література<br>2. Математика або географія або іноземна мова</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">2 роки</td>
    </tr>
    <tr>
      <td>073 Менеджмент</td>
      <td>1.Українська мова та література<br>2. Математика або географія або іноземна мова</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">3 роки</td>
    </tr>
    <tr>
      <td>2</td>
      <td>08 Право</td>
      <td>081 Право</td>
      <td>1. Українська мова та література<br>2. Історія України або іноземна мова або географія</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">3 роки</td>
    </tr>
    <tr>
      <td>3</td>
      <td>12 Інформаційні технології</td>
      <td>121 Інженерія програмного забезпечення</td>
      <td>1. Українська мова та література<br>2. Математика або фізика або іноземна мова</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">3 роки</td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<h5 class="font-italic text-center">
  Терміни прийому заяв та документів вступники на основі рівня кваліфікованого робітника
</h5>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Етапи вступної кампанії</th>
      <th scope="col">Денна форма навчання</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Початок прийому заяв та документів
      </td>
      <td>
        12 липня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Закінчення прийому заяв
        та документів від осіб,
        які мають проходити вступні іспити
      </td>
      <td>
        о 18.00 годині 10 серпня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Строки проведення вступних іспитів
      </td>
      <td>
        11 серпня по 17 серпня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Термін оприлюднення рейтингового списку вступників
      </td>
      <td>
        не пізніше 12.00 години 25 серпня 2018 р.
      </td>
    </tr>
    <tr>
      <td>
        Терміни зарахування вступників
      </td>
      <td>
        не пізніше 12.00 години 30 серпня 2018 р.
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p class="text-center font-italic">
  Для вступників до Бізнес-коледжів університету на основі освітньо-кваліфікаційного рівня кваліфікованого робітника
</p>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="align-middle">№</th>
      <th class="text-center">Шифр та найменування галузі знань</th>
      <th class="align-middle">Код та найменування спеціальності</th>
      <th class="text-center">Перелік вступних іспитів</th>
      <th class="text-center">Прохідний бал</th>
      <th class="text-center">Терміни навчання</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="3">1</td>
      <td rowspan="3">07 Управління та адміністрування</td>
      <td>071 Облік і оподаткування</td>
      <td>1. Українська мова<br>2. Фаховий іспит</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">2 роки</td>
    </tr>
    <tr>
      <td>072 Фінанси, банківська справа та страхування</td>
      <td>1. Українська мова<br>2. Фаховий іспит</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">2 роки</td>
    </tr>
    <tr>
      <td>073 Менеджмент</td>
      <td>1. Українська мова<br>2. Фаховий іспит</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">3 роки</td>
    </tr>
    <tr>
      <td>2</td>
      <td>12 Інформаційні технології</td>
      <td>121 Інженерія програмного забезпечення</td>
      <td>1. Українська мова<br>2. Фаховий іспит</td>
      <td class="text-center">100<br>100</td>
      <td class="text-center">3 роки</td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<h1 class="display-4 text-center">
  Порядок подання заяв
</h1>

<ul>
  <li>
    Вступники на базі 9 класів подають заяви тільки в <i>паперовій формі</i>.
  </li>
  <li>
    Вступники на базі 11 класів подають заяви тільки в <i>електронній формі</i>.
  </li>
  <li>
    Вступники на базі рівня кваліфікованого робітника подають заяви тільки в <i>паперовій формі</i>.
  </li>
</ul>
<ol>
  <li>
    копію документа державного зразка про раніше здобутий освітній
    (освітньо-кваліфікаційний) рівень, на основі якого здійснюється вступ,
    і додаток до нього;
  </li>
  <li>
    копію сертифіката відповідного рівня зовнішнього незалежного оцінювання
    (для вступників на основі повної загальної середньої освіти);
  </li>
  <li>
    копію документа, що посвідчує особу та громадянство;
    (свідоцтва про народження для осіб, яким виповнюється 14 років
    після 01 травня 2018 року);
  </li>
  <li>
    копію ідентифікаційного коду;
  </li>
  <li>
    копії документів, які підтверджують право вступника на участь у конкурсі за результатами вступних екзаменів на
    основі повної загальної середньої освіти, зарахування за співбесідою, зарахування поза конкурсом.
  </li>
  <li>
    чотири кольорові фотокартки розміром 3 х 4 см.
  </li>
  <li>
    військовий квиток або посвідчення про приписку – для військовозобов'язаних.
  </li>
</ol>
<hr>
<h5 class="font-italic text-center">
  Терміни прийому заяв та документів для здобуття ступеня бакалавр
</h5>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th rowspan="3" class="align-middle text-center">Етапи вступної кампанії</th>
      <th class="text-center">Денна форма навчання</th>
      <th class="text-center">Навчання без відриву від виробництва</th>
    </tr>
    <tr>
      <td colspan="2" class="text-center">вступники на основі освіти</td>
    </tr>
    <tr>
      <td class="text-center">повної загальної середньої</td>
      <td class="text-center">повної загальної середньої</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Початок прийому заяв та документів</td>
      <td>12 липня 2018р.</td>
      <td>1) 12 липня 2018р.<br>2) 29 жовтня 2018р.</td>
    </tr>
    <tr>
      <td>Закінчення прийому заяв та документів від осіб, які мають проходити творчий конкурс</td>
      <td>о 18.00 годині 20 липня 2018р.</td>
      <td>1) о 18.00 годині 20 липня 2018р.<br>2) 02 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Закінчення прийому заяв та документів від осіб, які складають вступні іспити, а також проходять співбесіди
      </td>
      <td>о 18.00 годині 20 липня 2018р.</td>
      <td>1) о 18.00 годині 20 липня 2018р.<br>2) 02 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Закінчення прийому заяв та документів від осіб, які не складають вступних іспитів</td>
      <td>о 18.00 годині 26 липня 2018р.</td>
      <td>1) о 18.00 годині 26 липня 2018р.<br>2) 12 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Строки проведення вступних іспитів</td>
      <td>21 липня – 26 липня 2018р.</td>
      <td>1) 21 липня – 26 липня 2018р.<br>2) 13 листопада –19 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Строки проведення співбесід</td>
      <td>21 липня – 23 липня 2018р.</td>
      <td>1) 21 липня – 23 липня 2018р.<br>2) 13листопада – 17листопада 2018р.</td>
    </tr>
    <tr>
      <td>Строки проведення творчих конкурсів</td>
      <td>14 липня – 26 липня 2018р.</td>
      <td>1) 14 липня – 26 липня 2018р.<br>2) 13 листопада –19 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Термін оприлюднення рейтингового списку вступників</td>
      <td>не пізніше 12.00 години 01 серпня 2018р.</td>
      <td>1) не пізніше 12.00 години 1 серпня 2018р.<br>2) 20 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Терміни зарахування вступників</td>
      <td>не пізніше 30 вересня 2018р.</td>
      <td>1) 10 серпня 2018р.<br>2) 27 листопада 2018р.</td>
    </tr>
    </tbody>
  </table>
</div>
<p style="text-indent: 36.0pt;">
  Реєстрація електронних кабінетів вступників стартує з <b>2 липня</b> і триватиме до <b>18:00 25 липня</b>.
</p>
<p style="text-indent: 36.0pt;">
  У 2018 році вищі навчальні заклади прийматимуть сертифікати ЗНО 2016, 2017 та 2018 років, окрім оцінок з англійської,
  французької, німецької та іспанської мов. Оцінки з цих іноземних мов прийматимуться лише з сертифікатів зовнішнього
  оцінювання 2018 року.
</p>
<p class="text-center font-weight-bold h5">
  За результатами ЗНО:<br>Перелік конкурсних предметів, з яких вступник має<br>подавати сертифікат ЗНО для здобуття
  ступеня бакалавр
</p>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="align-middle text-center">№<br>п/п</th>
      <th class="align-middle text-center">Код та найменування спеціальності</th>
      <th class="align-middle text-center">Перелік конкурсних предметів</th>
      <th class="align-middle text-center">Мінімальна кількість балів ЗНО</th>
    </tr>
    <tr>
      <td class="font-weight-bold" colspan="4">Факультет інформаційних систем і технологій</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>122 Комп’ютерні науки</td>
      <td>1. Українська мова та література<br>2. Математика<br>3. Фізика або іноземна мова</td>
      <td class="text-center">100<br>100<br>100<br></td>
    </tr>
    <tr>
      <td class="font-weight-bold" colspan="4">Факультет економіки та менеджменту</td>
    </tr>
    <tr>
      <td>2</td>
      <td>051 Економіка<br>071 Облік і оподаткування<br>072 Фінанси, банківська справа та страхування<br>073 Менеджмент
      </td>
      <td>1. Українська мова та література<br>2. Математика<br>3. Географія або іноземна мова</td>
      <td class="text-center">100<br>100<br>100<br></td>
    </tr>
    <tr>
      <td class="font-weight-bold" colspan="4">Юридичний факультет</td>
    </tr>
    <tr>
      <td>2</td>
      <td>081 Право</td>
      <td>1. Українська мова та література<br>2. Математика<br>3. Математика або іноземна мова</td>
      <td class="text-center">100<br>100<br>100<br></td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<h5 class="font-italic text-center">
  Терміни прийому заяв та документів на старші курси
</h5>
<p style="text-indent: 36.0pt;">
  Для вступу на основі освітньо-кваліфікаційного рівня молодшого спеціаліста за денною та заочною формою навчання прийом
  заяв та документів:
</p>
<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th rowspan="3" class="align-middle text-center">Етапи вступної кампанії</th>
      <th class="text-center">Денна форма навчання</th>
      <th class="text-center">Навчання без відриву від виробництва</th>
    </tr>
    <tr>
      <td colspan="2" class="text-center">вступники на основі освіти</td>
    </tr>
    <tr>
      <td class="text-center">молодшого спеціаліста</td>
      <td class="text-center">молодшого спеціаліста</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Початок прийому заяв та документів</td>
      <td>12 липня 2018р.</td>
      <td>1) 12 липня 2018р.<br>2) 29 жовтня 2018р.</td>
    </tr>
    <tr>
      <td>Закінчення прийому заяв та документів</td>
      <td>о 18.00 годині 24 липня 2018р.</td>
      <td>1) о 18.00 годині 24 липня 2018р.<br>2) 12 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Строки проведення додаткових та фахових випробувань</td>
      <td>25 липня – 31 липня 2018р.</td>
      <td>1) 25 липня – 31 липня 2018р.<br>2) 12 листопада – 18 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Термін оприлюднення рейтингового списку вступників</td>
      <td>не пізніше 12.00 години 01 серпня 2018р.</td>
      <td>1) не пізніше 12.00 години 01 серпня 2018р.<br>2) 19 листопада 2018р.</td>
    </tr>
    <tr>
      <td>Терміни зарахування вступників</td>
      <td>30 вересня 2018р.</td>
      <td>1) 29 серпня 2018р.<br>2) 27 листопада 2018р.</td>
    </tr>
    </tbody>
  </table>
</div>
<p style="text-indent: 36.0pt;">
  Європейський університет приймає на другий або третій курс (з нормативним терміном навчання) на вакантні місця
  ліцензованого обсягу осіб, які здобули освітньо-кваліфікаційний рівень молодшого спеціаліста за
  <b>спорідненою та неспорідненою спеціальністю</b>.
</p>
<p style="text-indent: 36.0pt;">
  Абітурієнт, які вступають на споріднену спеціальність, при вступі на навчання складають фахове випробування.
</p>
<p style="text-indent: 36.0pt;">
  Абітурієнт, які вступають на не споріднену спеціальність, при вступі на навчання складають фахове випробування, та
  додаткового вступного випробування з базових дисциплін спеціальності.
</p>
<hr>
<h1 class="display-4 font-italic text-center">
  Вступ без ЗНО:<br>
  <small>Особливі умови вступу військовозобов’язаних</small>
</h1>
<p style="text-indent: 36.0pt;" class="font-weight-bold">
  За результатами співбесіди:
</p>
<ul>
  <li>
    особи, визнані інвалідами війни відповідно до пунктів 10-14 статті 7 Закону України «Про статус ветеранів війни,
    гарантії їх соціального захисту»
  </li>
</ul>
<p style="text-indent: 36.0pt;" class="font-weight-bold">
  За результати вступних іспитів:
</p>
<ul>
  <li>
    особи, визнані учасниками бойових дій відповідно до пункту 19 частини першої статті 6 Закону України «Про статус
    ветеранів війни, гарантії їх соціального захисту», у тому числі ті з них, які проходять військову службу (крім
    військовослужбовців строкової служби) в порядку, визначеному відповідними положеннями про проходження військової
    служби громадянами України;
  </li>
  <li>
    особи, звільнені з військової служби (у тому числі демобілізовані) після 30 листопада 2017
  </li>
  <li>
    соби, яким Законом України «Про статус і соціальний захист громадян, які постраждали внаслідок Чорнобильської
    катастрофи» надане право на прийом без екзаменів до державних закладів вищої освіти за результатами співбесіди;
  </li>
  <li>
    особи з інвалідністю, які неспроможні відвідувати заклад освіти (за рекомендацією органів охорони здоров’я та
    соціального захисту населення);
  </li>
  <li>
    діти-сироти, діти, позбавлені батьківського піклування, особи з їх числа;
  </li>
  <li>
    особ, які мають певні захворювання та/або патологічні стани, інвалідність», (наказом МОН України, Міністерства
    охорони здоров’я України від 29 серпня 2016 року № 1027/900);
  </li>
  <li>
    громадяни України, які в рік вступу здобули повну загальну середню освіту за кордоном;
  </li>
  <li>
    навчання за програмою подвійного диплому з іноземними вузами партнерами;
  </li>
  <li>
    іноземні громадяни (двічі на рік, до і на початку академічних семестрів (але не пізніше 01 листопада і 01 березня).
  </li>
</ul>
<hr>
<p class="h4 font-italic text-center">
  ПОРЯДОК<br>подання та розгляду заяв в електронній формі на участь<br>у конкурсному відборі до «Європейського
  університету»<br>в 2018 році
</p>


<p style="text-indent: 36.0pt;" class="font-weight-bold">
  1. ЕТАП.
</p>
<p style="text-indent: 36.0pt;">
  заява в електронній формі на участь у конкурсному відборі до «Європейського університету» (далі - електронна заява) -
  запис, що вноситься вступником в особистому електронному кабінеті до Єдиної державної електронної бази з питань освіти
  (далі - Єдина база) шляхом заповнення ним у режимі он-лайн електронної форми на інтернет-сайті за адресою:
  <b>http://ez.osvitavsim.org.ua</b> та містить відомості про обрані ним вищий навчальний заклад і напрям
  (спеціальність)
</p>
<p style="text-indent: 36.0pt;" class="font-weight-bold">
  2. ЕТАП
</p>
<p style="text-indent: 36.0pt;">
  особистий електронний кабінет вступника - веб-сторінка, за допомогою якої вступник подає електронну заяву до
  «Європейського університету» та контролює її статус
</p>
<p style="text-indent: 36.0pt;" class="font-weight-bold">
  3. ЕТАП
</p>
<p style="text-indent: 36.0pt;">
  статус електронної заяви - параметр електронної заяви, «Європейський університет» в Єдиній базі відображає в
  особистому електронному кабінеті вступника.
</p>
<p style="text-indent: 36.0pt;" class="font-weight-bold">
  Параметр "Статус електронної заяви" може набувати таких значень:
</p>
<p>
<ul>
  <li>
    "<b>Зареєстровано в Єдиній базі</b>" - підтвердження факту подання електронної заяви до університету;
  </li>
  <li>
    "<b>Потребує уточнення вступником</b>" - електронна заява прийнята Європейським університетом до розгляду, але дані
    стосовно вступника потребують уточнення. Після присвоєння електронній заяві цього статусу Європейський університет
    зобов'язаний невідкладно надіслати вступнику повідомлення з переліком даних, які потребують уточнення, та
    зазначенням способу їх подання;
  </li>
  <li>
    "<b>Зареєстровано у Європейському університеті</b>" - електронна заява прийнята Європейським університетом до
    розгляду, заведено особову справу вступника з персональним номером та в установленому порядку приймається рішення
    про допуск вступника до участі в конкурсному відборі;
  </li>
  <li>
    "<b>Допущено до конкурсу</b>" - власника зареєстрованої електронної заяви допущено до участі у конкурсному відборі;
  </li>
  <li>
    "<b>Відмовлено вищим навчальним закладом</b>" - власника зареєстрованої електронної заяви не допущено до участі у
    конкурсному відборі на підставі рішення приймальної комісії. У разі присвоєння електронній заяві цього статусу
    Європейський уніфверситет зазначає причину відмови;
  </li>
  <li>
    "<b>Скасовано вступником (або вищим навчальним закладом)</b>" - подана електронна заява вважається такою, що не
    подавалась, а факт подання анулюється в Єдиній базі, якщо:
  </li>
  <li>
    <ul>
      <li>
        електронну заяву скасовано вступником в особистому електронному кабінеті до моменту встановлення заяві статусу "<b>Зареєстровано
        у вищому навчальному закладі</b>" або "<b>Потребує уточнення вступником</b>";
      </li>
      <li>
        "<b>Рекомендовано до зарахування</b>" - вступник пройшов конкурсний відбір та рекомендований до зарахування на
        навчання на місця, за кошти фізичних та юридичних осіб. У разі присвоєння електронній заяві такого статусу для
        зарахування на навчання вступник зобов'язаний подати оригінали документів до приймальної комісії «Європейського
        університету».
      </li>
    </ul>
  </li>
  <li>
    "<b>Включено до наказу</b>" - наказом про зарахування на навчання вступника зараховано до «Європейського
    університету».
  </li>
</ul>
<hr>
<h1 class="display-4 font-italic text-center">
  Порядок прийому заяв і документів для вступу
</h1>
<p style="text-indent: 36.0pt;">
  <b>Вступники для здобуття ступеню бакалавра</b> на основі повної загальної середньої освіти на денну форму навчання,
  крім осіб, які мають право на участь у конкурсі за результатами вступних іспитів на основі повної загальної середньої
  освіти, зарахування за співбесідою та зарахування поза конкурсом, подають заяви тільки в електронній формі.
</p>
<p style="text-indent: 36.0pt;">
  Усі інші категорії вступників подають заяви тільки в паперовій формі. Заява в паперовій формі подається вступником
  особисто до Приймальної комісії Європейського університету.
</p>
<p style="text-indent: 36.0pt;" class="font-weight-bold">
  Під час подання заяви в паперовій формі вступник пред'являє особисто:
</p>
<ul>
  <li>
    документ, що посвідчує особу та громадянство (відповідно до статті 5 Закону України "Про громадянство України");
  </li>
  <li>
    свідоцтво про народження – для осіб, які за віком не мають паспорта, або інший документ, який посвідчує особу і
    громадянство;
  </li>
  <li>
    військовий квиток або посвідчення про приписку – для військовозобов'язаних;
  </li>
  <li>
    документ державного зразка (оригінал) про раніше здобутий освітній (освітньо-кваліфікаційний) рівень, на основі
    якого здійснюється вступ, і додаток до нього;
  </li>
  <li>
    сертифікат (сертифікати) відповідного рівня зовнішнього незалежного оцінювання (для вступників на основі повної
    загальної середньої освіти);
  </li>
  <li>
    документи, які підтверджують право вступника на участь у конкурсі за результатами вступних екзаменів на основі
    повної загальної середньої освіти, зарахування за співбесідою, зарахування поза конкурсом.
  </li>
</ul>
<p style="text-indent: 36.0pt;" class="font-weight-bold">
  До заяви, поданої в паперовій формі, вступник додає:
</p>
<ul>
  <li>
    копію документа державного зразка про раніше здобутий освітній (освітньо-кваліфікаційний) рівень, на основі якого
    здійснюється вступ, і додаток до нього;
  </li>
  <li>
    копію сертифіката відповідного рівня зовнішнього незалежного оцінювання (для вступників на основі повної загальної
    середньої освіти);
  </li>
  <li>
    копію документа, що посвідчує особу та громадянство;
  </li>
  <li>
    копії документів, які підтверджують право вступника на участь у конкурсі за результатами вступних екзаменів на
    основі повної загальної середньої освіти, зарахування за співбесідою, зарахування поза конкурсом.
  </li>
  <li>
    чотири кольорові фотокартки розміром 3 х 4 см.
  </li>
</ul>