<div class="row">
  <div class="col-lg-9">
    <h4 class="display-4 font-italic">Садула Любомира Миколаївна</h4>
    <p style="text-indent: 36.0pt;"><b>Садула Любомира Миколаївна</b>, завідувач заочного відділення, кандидат
      економічних наук, доцент, доцент кафедри менеджменту та соціально-гуманітарних дисциплін.</p>
    <p style="text-indent: 36.0pt;">Працює в університеті з 2002 р. Закінчила географічний факультет Львівського
      державного університету імені Івана Франка та факультет міжнародного права і бізнесу за спеціальністю «Міжнародні
      економічні відносини» (Львівський національний університет імені Івана Франка). У 2006 році захистила кандидатську
      дисертацію у спеціалізованій вченій раді Української академії Зовнішньої торгівлі Міністерства економіки України
      за спеціальністю «Світове господарство та міжнародні економічні відносини».</p>
    <p style="text-indent: 36.0pt;">Є автором 38 наукових робіт, в тому числі монографії «Зовнішньоторговельна політика
      ФРН (національний та наднаціональний рівні формування і реалізації» і співавтором колективної монографії
      («Управління розвитком економічної та соціальної інфраструктури Західного регіону в контексті
      євроінтеграції»).</p>
    <p class="font-italic" style="text-indent: 36.0pt;">Була учасником багатьох конференцій міжнародного рівня, зокрема
      у 2012 році:</p>
    <ul>
      <li>спільна українсько-канадська конференція «Інтеграція гендерної складової до регіональних політик Львівської
        обласної державної адміністрації», 11 грудня 2012 року (за участю Львівської ОДА, федерального уряду Манітоби
        (Канада)).
      </li>
      <li>спільна українсько-канадська конференція «За підсумками розроблення стратегії розвитку малого та середнього
        підприємництва Львівської області до 2020 року», 13 грудня 2012 року (за участю Львівської ОДА, федерального
        уряду Манітоби (Канада)).
      </li>
    </ul>
    <p style="text-indent: 36.0pt;"><i>Брала участь у Круглому столі в рамках проекту:</i> «Досдження системних і
      структурних шляхів досягнення рівних можливостей у здоров’ї українців» за участю Інституту інтерсекційних
      досліджень та політики Університету Саймона Фрейзера, м.Ванкувер, Канада і підтримки Міністерства охорони здоров’я
      України.</p>
  </div>
  <div class="col-lg-3">
    <img class="img-fluid rounded mb-4 rounded mx-auto d-block" src="<%= image_url('sadyla.jpg') %>" width="200" height="276" alt="">
  </div>
</div>