<div class="notfound">
  <%= image_tag 'Oops.png', style: 'width: 40%;' %>
  <h2>404 - Сторінка, яку ви шукали, не існує.</h2>
  <p>Сторінка, яку ви шукаєте можливо була вилучена, змінила назву, або тимчасово недоступна.</p>
  <%= link_to 'Головна', :root %>
  <%= link_to 'Назад', :back %>
</div>