<div class="notfound">
  <%= image_tag 'Oops.png', style: 'width: 40%;' %>
  <h2>422 - Зміни, які ви хотіли, було відхилено.</h2>
  <p>Можливо, ви намагалися змінити те, до чого ви не маєте доступу.</p>
  <%= link_to 'Головна', :root %>
  <%= link_to 'Назад', :back %>
</div>